.Tabs {
	
	
}

.tabPanel {
    padding: 20px;
    border: 1px solid gray;
    max-width: 800px;
}

.tabsList {
    list-style: none;
    padding: 0;
    margin: 5px;
    
}

.tabItem {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid gray;
    margin-right: 5px;
    background: gray;			
    color: lightgray;
    cursor: pointer;    
}

.tabItem.active {
    background: #FFF;
    color: #000;				
}