.Tabs {
	
	
}

.tabPanel {
        /* padding: 20px; */
    /* max-width: 800px; */
    overflow-y: scroll;
    height: calc(100% - 53px);
    padding: 12px;
}

.tabsList {
    list-style: none;
    padding: 0;
    margin: 5px;
    
}

.tabItem {
    display: inline-block;
    padding: 10px 20px;
    /* border: 1px solid gray; */
    margin-right: 5px;
    background: lightgray;
    /* color: lightgray; */
    cursor: pointer;
    border-radius: 50px;
    font-weight: 600;   
    margin-bottom: .3rem;
}

.tabItem.active {
    background: #FFF;
    color: #000;
    border: 1px solid #d3d3d3;				
}


