.userDetails button {
    background-color: #2181f7;    
    top: 100px;
    position: absolute;
    border: none;
    color: white;
    padding: .2rem .7rem;
    cursor: pointer;     
    border-radius: 6px   ;
}